{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tarefas/noticia_detalhe.css' %}" />
    <title>Notícia</title>
</head>
<body>
    <header class="header">
            <h1 class="logo">PORTAL NOTÍCIAS VM</h1>

            <div class="search-container">
                <input
                    type="text"
                    class="search-input"
                    placeholder="O que você procura?"
                />
            </div>
        </header>   
</body>
</html>