body {
    font-family: "Comic Sans MS", "Marker Felt", cursive; /* Para aproximar da fonte desenhada */
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
    margin-bottom: 30px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #ff4b5c;
}

.search-container {
    flex: 1;
    max-width: 400px;
    margin-left: 20px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #ff4b5c;
    box-shadow: 0 0 5px rgba(255,75,92,0.4);
}

